@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@media only screen and (max-width: 768px) {
  .sub-main-title{
    font-size:1.1em !important;
  }
  .card-wrapper {
     padding:60px 30px;
  }
  .header-container{
    margin:0px !important;
  }
.sub-main-header{
  font-size:1.5em !important;
}
.title{

font-size:2em !important;

}

.cta{
  width:100%!important;
}


.sub-title{
font-size: 1.5em !important;
}

.lead {
  font-size:1em !important;
}

.card-title{
  font-size: 1.2em !important;
}

.card-text{
  font-size:1em !important;
}

.Process-icon {
  width:3.5rem !important;
}
 

 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.cta {
  background-color:#A58855;
  border-radius:none;
  border: #e7e9ec;
  font-family: Quicksand;
  font-weight: bold;
  padding:10px 20px;
  margin:0 auto;
  cursor: pointer;
  width:25%;
  text-align:center;
  text-decoration: none;
  color:black;
margin-top:50px; 
margin-bottom:50px; 
}

a {
  color:black;
}
h5 {
  font-family:Quicksand;
}

body {
  font-family:Quicksand;
}

.cta:hover > a {
  color: #61dafb;

}

.cta > a 
{
  color:black;
}
.margin-top-20{
  margin-top:20px;
}

.bullet-container{
  border-top: solid 1px #A58855;
  border-bottom: solid 1px #A58855;

}

.App-link {
  color: #61dafb;
}

.Girl{

  transform: translateY(5%);
  width:100%;

}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;

}

.footer-bg{
  background-color:#e7e9ec;

}

.sticky{
  display: flex;
  align-items: flex-start;
  border-bottom: solid 1px #A58855;

}
.display-flex{
  display: flex;
  align-items: center;
  padding-bottom:10px;
}
.display-flex > p {
  padding-left: 10px;

}
.lead{
  margin-top:5%;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

ul {
  list-style:none;
}


.last-card{
  background: #A58855;
}

.Logo{
  width:3.5rem;
}
footer{

  margin-top:100px;
}
.sub-title{
  font-family: 'Quicksand', sans-serif;
color:black;
font-size:2em;
font-weight: bold;
border-bottom: solid 2px #A58855;

}


.bullet-point-title{
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-size:2em;
  font-weight: bold;
  text-align: left;
}

ul {
  font-family: Quicksand;
}

.card-title {
  margin-bottom: 0.75rem; 
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-size:1.5em;}

  .card-text{
    margin-bottom: 1rem; 
    margin-top:1rem;
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-weight: normal;
  font-size:1em;
  }

.card-space {
  width: 18rem;

  margin-top:30px;
}

.brown{
  background-color:#A58855;
color:#ECE7ED;
}
.card-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

 .title{
  font-family: 'Quicksand', sans-serif;
color:black;
font-size:4em;
font-weight: normal;
}

.sub-main-title{
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-size:2em;
  font-weight: normal;
}

.s{
  background-color:#A58855;
  font-weight: bold;

}
.bg {

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./image1.jpg");
  height: 80vh;

 }

 .Process-icon{
  width:2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }

 .header-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;

 }

 .block {
 
  position: relative;
  width: 100%;
  padding: 60px 30px;
  color: inherit;

  margin: 0px auto;
 }

.title-image-container {
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
